{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block header %}

<div class="jumbotron jumbotron-fluid bg-inverse text-white">
    <div class="container">
        <h1 class="display-4">MVC Login&Register</h1>
        <blockquote class="blockquote" style="margin-top: 20px;">
            <p class="mb-0">To be or not to be, that is the question.</p>
            <footer class="blockquote-footer">William Shakespeare in <cite title="Source Title">Somewhere</cite></footer>
        </blockquote>
    </div>
</div>

{% endblock %}

{% block body%}

    {% if current_user %}
        <p>Hello {{current_user.name}}!</p>
    {% else %}
        <p>Hello Guest !</p>
    {% endif %}

{% endblock %}
