{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body%}

<h1 class="display-4 mt-5 text-center">Login</h1>
<form class="justify-content-md-center mt-5" method="post" action="{{ URL }}/login/create">

    <div class="row justify-content-md-center">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" value="{{ email }}" class="form-control" placeholder="email adress" id="inputEmail" required>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="password" required>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="form-group col-md-6">
            <label>
                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}> Remember me
                <a href="{{ URL }}/password/forgot" class="ml-3"> Forgot password?</a>
            </label>
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <input type="hidden" name="token_form" value="{{ token_form }}">
            <button type="submit" class="btn bg-inverse text-white btn-block" name="register" >Sign up</button>
        </div>
    </div>
</form>

{% endblock %}
