{% extends "admin_base.html" %}

{% block title %}Admin - User{% endblock %}

{% block body%}

{% if user.errors is not empty %}
<div class="container mt-3">
{% for error in user.errors %}

<div class="alert alert-warning">{{ error }}</div></li>
{% endfor %}
</div>
{% endif %}

<section id="edit-post" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Profile</h4>
                    </div>
                    <div class="card-block">
                        <form method="post" action="{{ URL }}/admin/users/update/{{user.id}}">
                            <div class="form-group">
                                <label for="inputName" class="form-control-label">Username</label>
                                <input id="inputName" type="text" class="form-control" name="name" value="{{ user.name }}">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="form-control-label">Password</label>
                                <input id="inputPassword" class="form-control" type="password" name="password" placeholder="password">
                            </div>

                            <div class="form-group">
                                <label for="inputPasswordConfirmation" class="form-control-label">Password Confirm</label>
                                <input id="inputPasswordConfirmation" class="form-control" type="password" name="password_confirmation" placeholder="repeat password">
                            </div>
                            <div class="form-group">
                                <label for="inputPermission" class="form-control-label">Permission</label>
                                <select id="inputPermission" class="form-control"  name="permission">
                                    <option value="0">User</option>
                                    <option value="1" {% if user.permission == 1 %} selected {% endif %}>Admin</option>
                                </select>
                            </div>
                            <div class="row justify-content-md-center mt-5">
                                <div class="form-group col-md-6 text-center">
                                    <input type="hidden" name="token_form" value="{{ token_form }}">
                                    <button type="submit" class="btn bg-inverse text-white btn-block">Update</button>
                                    <a href="{{ URL }}/admin">Cancel</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>{{ current_user.name }}</h3>
                <img src="{{ URL }}/img/avatar.png" alt="" class="d-block img-fluid mb-3">
                <!--<button class="btn btn-primary btn-block">Edit Image</button>-->
                <!--<button class="btn btn-danger btn-block">Delete Image</button>-->
            </div>
        </div>
    </div>
</section>


{% endblock %}