{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body%}

{% if user.errors is not empty %}
{% for error in user.errors %}
<div class="alert alert-warning">{{ error }}</div></li>
{% endfor %}
{% endif %}



<!--<br><form method="post" action="{{ URL }}/profile/update">-->
    <!--<div>-->
        <!--<label for="inputName">Name</label>-->
        <!--<input id="inputName" type="text" name="name" placeholder="Name" value="{{ current_user.name }}" required>-->
    <!--</div>-->

    <!--<div>-->
        <!--<label for="inputEmail">Email</label>-->
        <!--<input id="inputEmail" type="email" name="email" placeholder="email adress" value="{{ current_user.email }}" required>-->
    <!--</div>-->

    <!--<div>-->
        <!--<label for="inputPassword">Password</label>-->
        <!--<input id="inputPassword" type="password" name="password" placeholder="password">-->
    <!--</div>-->

    <!--<div>-->
        <!--<label for="inputPasswordConfirmation">Password Confirm</label>-->
        <!--<input id="inputPasswordConfirmation" type="password" name="password_confirmation" placeholder="repeat password">-->
    <!--</div>-->

    <!--<input type="hidden" name="token_form" value="{{ token_form }}">-->
    <!--<input type="submit">-->
    <!--<a href="{{ URL }}/profile/show">Cancel</a>-->
<!--</form>-->







<section id="edit-post" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Profile</h4>
                    </div>
                    <div class="card-block">
                        <form method="post" action="{{ URL }}/profile/update">
                            <div class="form-group">
                                <label for="name" class="form-control-label">Name</label>
                                <input type="text" class="form-control" name="name" value="{{ current_user.name }}">
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-control-label">Email</label>
                                <input type="text" class="form-control" name="email" value="{{ current_user.email }}">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="form-control-label">Password</label>
                                <input id="inputPassword" class="form-control" type="password" name="password" placeholder="password">
                            </div>

                            <div class="form-group">
                                <label for="inputPasswordConfirmation" class="form-control-label">Password Confirm</label>
                                <input id="inputPasswordConfirmation" class="form-control" type="password" name="password_confirmation" placeholder="repeat password">
                            </div>
                            <div class="row justify-content-md-center mt-5">
                                <div class="form-group col-md-6 text-center">
                                        <input type="hidden" name="token_form" value="{{ token_form }}">
                                        <button type="submit" class="btn bg-inverse text-white btn-block">Update</button>
                                        <a href="{{ URL }}/profile/show">Cancel</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>{{ current_user.name }}</h3>
                <img src="{{ URL }}/img/avatar.png" alt="" class="d-block img-fluid mb-3">
                <!--<button class="btn btn-primary btn-block">Edit Image</button>-->
                <!--<button class="btn btn-danger btn-block">Delete Image</button>-->
            </div>
        </div>
    </div>
</section>






{% endblock %}
